{% extends 'baseResponsive2.html.twig' %}




{% block body %}
     
<!-- Two -->
							<section class="wrapper alt style1" id="four">
								<div class="inner">
                                                                    
                                                                    
									<h2 style="margin-top:-55px;" class="major">MYLABEL - Nouvelle demande de label</h2>
									<p>Phrase de présentation ??</p>
									     

    <ul class="actions">
                                            <li><a class="bouton menu" href="/my_label/web/app_dev.php/demandes/rechercher">Suivre mes demandes</a></li>
                                            <li><a class="bouton menu" href="/my_label/web/app_dev.php/demandes/nouvelle_demande">Nouvelle demande de label</a></li>
                                            <li><a href="{{ path('labels_index') }}" class="bouton">Label</a></li>
                                    
    </ul>
                                    {{ form_start(form) }}
	
	{{ form_errors(form) }}
	
	<div id="">
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.matricule) }}
		{{ form_row(form.mail) }}
		{{ form_row(form.nomProjet) }}
		{{ form_row(form.descProjet) }}
		{{ form_row(form.caracProjet) }}
		{{ form_row(form.dateMEP) }}

{#	{{ form_row(form.labelDmd) }}  #}

		<div>
			{{ form_label(form.labelDmd)}} 
			
			{{ form_errors(form.labelDmd) }}
			
			<div> 

			
		</div>
	
	{{ form_row(form.dateLabel) }}
	{{ form_rest(form)}}
    </div>
	<br/>

	<input type="submit" value="Envoyer" class="bouton" />
    {{ form_end(form) }}

 
     
						 
                                                                        
                                                                        
                                                                        
                                                                        
								</div>
							</section>
 
     

  
    
        
{% endblock %}

   
 

  