{% extends 'base.html.twig' %}

{% block body %}
    <h1>MYLABEL - SUIVI DE MES DEMANDES</h1>

    <table class="tableau_demandes">
        <thead class="tableau_demandes_entete">
            <tr>
                <th colspan=5>Demande On Progress</th>
            </tr>
        </thead>
        <thead class="tableau_demandes_entete">
            <tr>
                <th>N&deg; demande</th>
                <th>Date de la demande</th>
                <th>P&eacute;rim&egrave;tre</th>
                <th>Niveau de label</th>
                <th>Etat de prise en compte</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableau_demandes_ligne">
                <td>{{ demande.id }}</td>
                <td>{% if demande.dateDmd %}{{ demande.dateDmd|date('d/m/Y') }}{% endif %}</td>
                <td>{{ demande.nomProjet }}</td>
                <td>
				  {% if demande.labelDmd==1 %} 
					<img src="{{ asset("bundles/MyLabelBundle/images/Star1.png") }}" alt="Star 1" title="Star 1">
				  {% elseif demande.labelDmd==2 %} 
					<img src="{{ asset("bundles/MyLabelBundle/images/Star2.png") }}" alt="Star 2" title="Star 2">
				  {% elseif demande.labelDmd==3 %} 
					<img src="{{ asset("bundles/MyLabelBundle/images/Star3.png") }}" alt="Star 3" title="Star 3">
				  {% else %} 
				    Erreur code label
				  {% endif %} 
				</td>
                <td>
				  {% if demande.statutDmd==1 %} 
                    En attente
				  {% elseif demande.statutDmd==2 %} 
                    Planifi&eacute;
				  {% elseif demande.statutDmd==3 %} 
                    Traité
				  {% else %} 
				    Erreur code statut
				  {% endif %} 
				</td>
            </tr>
        </tbody>
    </table>
    <br>

{#    
    {{ form_start(form, {'attr': {'action' :  "{{ path('demandes_rechercher') }}"} } ) }}   
#}
    <form action="{{ path('demandes_rechercher') }}" method="post" {{ form_enctype(form) }}>

    
    {{ form_errors(form) }}
    
    <div id="recherche">
        <div>
            <label>Rechercher une autre demande :</label>
            {{ form_widget(form.id) }}
        </div>
        <input type="hidden" value="{{ demande.matricule }}" name="matricule">
        {{ form_widget(form._token) }}
    </div>
	<input type="submit" value="Recherche" class="bouton" />
    <br>  
    
{#	{{ form_end(form) }}  #}
    
    </form>

    
    <div id="menu">
        <a href="{{ path('labels_index') }}" class="bouton">Label</a>
        <a href="{{ path('demandes_rechercher') }}" class="bouton">Suivre mes demandes</a>
        <a href="{{ path('demandes_new') }}" class="bouton">Nouvelle demande de label</a>
    </div>


{% endblock %}
